<h2 mat-dialog-title>Adicionar Nova Tarefa</h2>
<mat-dialog-content>
  <mat-form-field>
    <mat-label>Tarefa: </mat-label>
    <input matInput [(ngModel)]="data.task" required>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Responsável: </mat-label>
    <input matInput [(ngModel)]="data.responsible">
  </mat-form-field>
  <br>
  <mat-form-field>
    <mat-label>Prioridade: </mat-label>
    <input matInput [(ngModel)]="data.priority" type="number" min="0">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Status: </mat-label>
    <mat-select [(ngModel)]="data.status">
      <mat-option value="1">A fazer</mat-option>
      <mat-option value="2">Em Andamento</mat-option>
      <mat-option value="3">Concluído</mat-option>
    </mat-select>
  </mat-form-field>
  <br>
  <mat-form-field>
    <mat-label>Prazo: </mat-label>
    <input matInput [matDatepicker]="picker" [(ngModel)]="data.deadline">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancelar</button>
  <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Salvar</button>
</mat-dialog-actions>