<div class="board">
    <a>
        <button class="add-button" mat-raised-button (click)="openAddTaskPopup()">Criar Nova Tarefa</button>
    </a>

    <div class="columns-container">
        <div class="column">
            <h2>A fazer</h2>
            <div *ngFor="let task of tasksTodo" class="pedido-card"
                [class.expired-deadline]="task.deadline && isDeadlineExpired(task.deadline)">
                <div (click)="showMoveColumnDialog(task, 1)">
                    <p class="task-ct">{{ task.task }}</p>
                    <p *ngIf="task.responsible">Responsável: {{ task.responsible }}</p>
                    <p *ngIf="task.priority">Prioridade: {{ task.priority }}</p>
                    <p *ngIf="task.deadline">Prazo: {{ task.deadline | date: 'dd/MM/yyyy' }}</p>

                </div>
                <a>
                    <button class="excluir-button" mat-raised-button (click)="deleteTask(task.id)">🗑️</button>
                </a>
            </div>
        </div>
        <div class="column">
            <h2>Em Andamento</h2>
            <div *ngFor="let task of tasksDoing" class="pedido-card"
                [class.expired-deadline]="task.deadline && isDeadlineExpired(task.deadline)">
                <div (click)="showMoveColumnDialog(task, 2)">
                    <p class="task-ct">{{ task.task }}</p>
                    <p *ngIf="task.responsible">Responsável: {{ task.responsible }}</p>
                    <p *ngIf="task.priority">Prioridade: {{ task.priority }}</p>
                    <p *ngIf="task.deadline">Prazo: {{ task.deadline | date: 'dd/MM/yyyy' }}</p>

                </div>
                <a>
                    <button class="excluir-button" mat-raised-button (click)="deleteTask(task.id)">🗑️</button>
                </a>
            </div>
        </div>
        <div class="column">
            <h2>Concluído</h2>
            <div *ngFor="let task of tasksDone" class="pedido-card-done">
                <div (click)="showMoveColumnDialog(task, 3)">
                    <p class="task-ct">{{ task.task }}</p>
                    <p *ngIf="task.responsible">Responsável: {{ task.responsible }}</p>
                    <p *ngIf="task.priority">Prioridade: {{ task.priority }}</p>
                    <p *ngIf="task.deadline">Prazo: {{ task.deadline | date: 'dd/MM/yyyy' }}</p>

                </div>
                <a>
                    <button class="excluir-button" mat-raised-button (click)="deleteTask(task.id)">🗑️</button>
                </a>
            </div>
        </div>
    </div>
</div>