<div class="board">
    <a class="btnfos btnfos-3">
        <button class="btn1" mat-raised-button (click)="openAddTaskPopup()">Criar Nova Tarefa</button>
    </a>
    <div class="columns-container">
        <div class="column">
            <h2>A fazer</h2>
            <div *ngFor="let task of tasksTodo">
                <!-- Exibir informações da task -->
                {{ task.task }}
            </div>
        </div>
        <div class="column">
            <h2>Em Andamento</h2>
            <div *ngFor="let task of tasksDoing">
                <!-- Exibir informações da task -->
                {{ task.task }}
            </div>
        </div>
        <div class="column">
            <h2>Concluído</h2>
            <div *ngFor="let task of tasksDone" >
                <!-- Exibir informações da task -->
                {{ task.task }}
            </div>
        </div>
    </div>
</div>
